[user]
	name = Ethan
	email = thanhnx.605@gmail.com
	signingkey = 9C6CEB919ED2CEFE
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[tag]
	gpgsign = true
